.buttons {
    visibility: hidden;
    top: 60px;
    transition-property: top;
    transition-duration: .5s;

}

.product-container {
    height: 350px;
}

.product-container:hover .buttons {
    top: 130px;
    visibility: visible;
}