/* .top-border {
    background-color: orangered;
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 10px;
    transition: .5s ease-out;
}

.srvice:hover {
    cursor: pointer;
    background-color: darkgray;
}

.srvice:hover .top-border {
    width: 100%;
} */


.example-container {
    padding: 20px;
    border-radius: 5px;
}

.inside {
    background: rgb(242, 242, 242);
    border-radius: 5px;
    padding: 0 20px 0 20px;
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inside h1 {
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0 20px 0;
}

.inside p {
    padding: 20px 0 20px 0;
}

.inside img {
    padding: 20px 10px 20px 10px;
    height: 35%;
    text-align: center;
}

@media only screen and (max-width: 860px) {
    .inside {
        background: rgb(242, 242, 242);
        border-radius: 5px;
        margin-top: 40px;
        padding: 0 20px 0 20px;
        width: 140px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inside p {
        display: none;
    }

    .inside h1 {
        font-weight: bold;
        font-size: 18px;
        padding: 20px 0 20px 0;
    }

    .inside img {
        padding: 5px 0 5px 0;
        width: 65%;
        text-align: center;
    }
}